@import "tailwindcss";

@media print {
  #invoice-section,
  #invoice-section * {
    visibility: visible;
  }
  #invoice-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
